/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
}

/* VARIABLE */
:root {
    --main-color: #de8304;
    --body-color: #333369; /* #070711 */
    --container-color: #171b3c;
    --heading-color: #222231;
    --box-color: #0d0f26;
    --bg-color: #fff;
}

body {
    color: var(--bg-color);
    background: var(--body-color);
}

html::-webkit-scrollbar{
    width: 0.5rem;
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: var(--heading-color);
}
img{
    width: 100%;
}
section{
    padding: 3rem 0 2rem;
}
a{
    text-decoration: none;
}
li{
    list-style: none
}
.container{
    max-width: 960px;
    margin: auto;
    width: 100%;
}

/********************** HEADER ***************/
/**********************          ***************/

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-active{
    background: var(--box-color);
    transition: 0.4s;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}
.logo{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--main-color);
}
.navbar{
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}
.nav-link{
  font-size: 0.94rem;
  padding: 4px 8px;
  border-radius: 0.2rem;
  color: var(--bg-color);
}
.nav-link:hover{
  color: var(--main-color);
  background: var(--container-color);
  transition: 0.3s all linear;
}

/********************** MENU ICON ***************/
/**********************            ***************/

.menu-icon{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
    cursor: pointer;
    z-index: 200;
    transition: 0.3s;
}
.menu-icon div{
    display: block;
    background: var(--bg-color);
    height: 2px;
    width: 24px;
    transition: 0.3s;
}
.move .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.move .line2{
    opacity: 0;
}
.move .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

  /********************** HOME ***************/
/**********************        ***************/

.home-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #de8304;
  overflow: hidden;
  margin-bottom:2rem ;
}

.home{
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 7rem;
}
.home-content{
  position: relative;
  max-width: 600px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.home-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.home-text h3{
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: 1.1rem;
  color: var(--main-color);
}
.home-text h3::before{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  left: -15px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.home-text h3::after{
  content: '';
  position: absolute;
  top: 50%;
  transform: translate(-50%);
  right: -35px;
  width: 20px;
  height: 2px;
  background: var(--main-color);
}
.home-text h2{
  font-size: 3.5rem;
  line-height: 4.8rem;
}
.home-text p{
  font-size: 0.938rem;
  margin-bottom: 1.5rem;
}
.home-text .color{
  color: var(--main-color);
}
.social{
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
.social .bx{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 50%;
  color: var(--bg-color);
  background: var(--container-color);
}
.social .bx:hover{
  background: var(--main-color);
  transition: 0.3s all linear;
}


/********************** HEADING ***************/
/**********************            ***************/

.heading{
    font-size: 5rem;
    text-transform: uppercase;
    color: var(--heading-color);
    text-align: center;
    margin-bottom: 2rem;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}
.about-data span{
    font-size: 1rem;
    font-weight: 500;
    text-transform:uppercase;
    color: var(--main-color);
}
.about-data h2{
    font-size: 2rem;
    line-height: 2.6rem;
    font-weight: 700;
    margin: 1rem 0;
}
.btn{
    font-size: 0.97rem;
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--bg-color);
    background: var(--main-color);
    padding: 12px 16px;
    border-radius: 0.4rem;
    margin-top: 1rem;
}
.btn .bx{
    font-size: 1.2rem;
}
.btn:hover{
    background: #546eff;
    transition: 0.3s all linear;
}
.about-text p{
    font-size: 0.938rem;
    letter-spacing: 1px;
    text-align: justify;
    margin-bottom: 1.5rem;
}

/********************** SERVICE***************/
/**********************        ***************/

.services-content{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.services-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 15px;
    background: var(--container-color);
    border-radius: 0.4rem;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.services-box:hover{
    transform: scale(1.05);
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}
.services-box .bx{
    font-size: 1.4rem;
    color: var(--main-color);
    padding: 10px;
    border-radius: 5rem;
    border: 2px dashed var(--bg-color);
}
.services-box h2{
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0.5rem 0;
    color: var(--main-color);
}
.services-box p{
    font-size: 0.9rem;
}

/********************** PORTFOLIO SECTION***************/
/**********************                  ***************/

.portfolio-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 2rem;
}
.portfolio-box{
  position: relative;
  width: 450px;
  height: 320px;
  border-radius: 1rem;
  overflow: hidden;
  
}
.portfolio-img{
  width: 450px;
  height: 450px;
  object-fit: cover;
  object-position: center;
}
.portfolio-overlay{
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: hsl(234,45%,16%,0.7);
}
.portfolio-overlay h2{
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.portfolio-overlay .bx{
  font-size: 24px;
  padding: 10px;
  background: var(--main-color);
  color: var(--bg-color);
  border-radius: 4px;
}
.portfolio-overlay .bx:hover{
  background: #546eff;
  transition: 0.3s all linear;
}
.portfolio-box:hover .portfolio-overlay{
  top: 0;
  transition: 0.3s all ease ;
}


/********************** CONTACT FORM ***************/
/**********************            ***************/


.contact-form{
  max-width: 600px;
  margin: auto;
  width: 100%;
  display: grid;
  row-gap: 1rem;
}
.contact-form input,.contact-form textarea{
  border: none;
  outline: none;
  font-size: 0.9rem;
  padding: 15px;
  color: var(--bg-color);
  background: var(--box-color);
  border-radius: 0.4rem;
}
.contact-form .send-btn{
  width: 120px;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 12px;
  background: var(--main-color);
  cursor: pointer;
}
.contact-form .send-btn:hover{
  background: #546eff;
  transition: 0.3s all linear;
}


/********************** FOOTER***************/
/**********************       ***************/

.footer{
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 1.4rem;
  padding: 30px 0;
}
.footer p{
  font-size: 0.9rem;
}
.footer-links{
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.footer-links a{
  font-size: 1rem;
  font-weight: 400;
  color: var(--bg-color);
}
.footer-links a:hover{
  color: var(--main-color);
  transition: 0.3s all linear;
}

/********************** SCROLL TOP ***************/
/**********************            ***************/

.scroll-top{
  position: fixed;
  bottom: -100%;
  right: 1.5rem;
}
.scroll-top .bx{
  padding: 8px;
  font-size: 1.3rem;
  color: var(--bg-color);
  background: var(--box-color);
  border-radius: 0.2rem;
}
.scroll-top .bx:hover{
  background: var(--container-color);
  transition: 0.3s;
}
.scroll-active{
  bottom: 2rem;
  transition: 0.3s;
}

/********************** VUE SUR UN PROJET***************/
/**********************                   ***************/

#projet {
  max-width: 100%;
  margin: auto;
  width: 100%;
}

.projet-competence {
  padding: 3rem;
  text-align: left;
}

.projet-text {
  width: 90%;
}

.sous-titre {
  font-size: 1.5rem;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.headProjet {
  padding-top: 5rem;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: var(--heading-color);
  text-align: center;
  }

.projet-content {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
  
}

.projet-box{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Projet-img {
  width: 100%;
  height: 80%;
  object-fit: cover;
  object-position: center;
}

#fadeVue {
  margin-top: 25px;
  font-size: 21px;
  text-align: center;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}

/********************** FORM INSCRIPTION ***************/
/**********************                  ***************/

.formConnexion {
  position: relative;
  margin: auto;
  background-color: white;
  padding: 30px 120px 120px 120px;
  border-radius: 10px;
  width: 100%;
}

.btn-sign {
  padding: 13px 65px 13px 65px;
  border: none;
  letter-spacing: 0.7px;
  top: 60px;
  cursor: pointer;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  background-color: var(--main-color);
  border-radius: 40px;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inputCo {
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
  outline: none;
  border-bottom: 2px solid #adadad;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  top: 30px;
}


.back {
  position: relative;
  margin: auto;
  display: block;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--body-color);
  width: 100%;
  top: 80px;
}

.fondco {
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}


/********************** VUE ADMINISTRATION***************/
/**********************                   ***************/

.allProjet{
  position: relative;
  margin: auto;
  display: flex;
  width: 100%;
  max-width: 800px;
  background-color: #201e1e;
  padding: 120px 0px 120px;
  border-radius: 40px;
  justify-content: center;

}

.titreAdmin {
  font-size: 12px;
  width: 5%;
}

td {
  border: 3px groove var(--main-color);
  padding: 17px;
  border-radius: 6px;
}


.dashboard {
  margin-top: 150px;
}

#edit {
  color: whitesmoke;
  font-size: 18px;
}

.bxs-plus-circle::before{
  font-size: 35px;
  color: green;
}


#del {
  color: red;
  font-size: 18px;
}

/********************** RESPONSIVE DESIGN ***************/
/**********************                   ***************/

@media (max-width:990px){
  .container{
    margin: 0 auto;
    width: 90%;
  }
}

@media (max-width:892px){
  section{
    padding: 2rem 0;
  }
  .nav {
    padding: 12px 0;
  }
  .heading {
  font-size: 4rem;
  }
  .portfolio-box {
    height: 257px;
  }
}

@media (max-width:775px){
  .logo {
    font-size: 1.1rem; 
  }
  .home {
    min-height: 500px;
    padding-top: 6rem;
  }
  .home-text h3 {
    font-size: 1rem;
  }
  .home-text h2 {
    font-size: 3rem;
    line-height: 3.8rem;
  }
  .home-text p {
    font-size: 0.825rem;
  }
  .services-content {
    grid-template-columns: repeat(2,1fr); 
  }
  .portfolio-box {
    height: 245px;
  }
  .menu-icon{
    display: flex;
  }
  .navbar{
    position: absolute;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100vh;
    background: var(--box-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .open-menu{
    right: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .nav-link{
    display: block;
    margin: 1rem 0;
  }
}


@media (max-width:635px){
  .about-content {
    grid-template-columns: 1fr;
  }
  .about-data span {
    font-size: 0.9rem;
  }
  .about-data h2 {
    font-size: 1.7rem;
    line-height: 2.3rem;
    font-weight: 600;
    margin: 0.8rem 0;
  }
  .about-text p {
    font-size: 0.825rem;
    margin-bottom: 1.3rem;
  }
 
}


@media (max-width:450px){
  .home {
    min-height: 485px;
    padding-top: 5rem;
  }
 
  .home-text h2 {
    font-size: 2.1rem;
    line-height: 3.2rem;
  }
  .home-text p br{
    display: contents;
  }
  .heading {
    font-size: 3rem;
  }
  .about-data h2 {
    font-size: 1.5rem;
    line-height: 2.1rem;
    margin: 0.6rem 0;
  }
  .services-content,
  .portfolio-content{
    grid-template-columns: 1fr;
  }

  .footer-links {
    flex-direction: column;
    row-gap: 1rem;
  }
}
@media (max-width:325px){
  .navbar{
    width: 100%;
  }
  .portfolio-box {
    height: 190px;
}
}
